body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
}

.flex-container > div {
  /* margin: 2px;
  padding: 5px; */
  font-size: 20px;
}

.container {
    position: relative;
    width: 50%;
}

.avatar-image {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
  opacity: 1;
  display: block;
  /* width: 100%; */
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.avatar-middle {
  transition: .5s ease;
  opacity: 0;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.avatar-container:hover .avatar-image {
  opacity: 0.3;
}

.avatar-container:hover .avatar-middle {
  opacity: 1;
}

.avatar-text {
  background-color: #4CAF50;
  color: white;
  font-size: 10px;
  padding: 4px 4px;
}

.category-button {
  background-color: #59CD90;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 49%;
  opacity: 0.3;
}

.category-button:hover {
  opacity: 1.0;
}

.category-button-active {
  background-color: #59CD90;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 49%;
}

.wyr-btn-question-group button {
  background-color: #59CD90;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  width: 50%;
  border: none;
  margin-bottom: 2px;
  opacity: 0.80;
}

.wyr-btn-group button {
    background-color: #59CD90;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    width: 50%;
    height: 200px;
}

.wyr-btn-group-a button {
    background-color: #EE6352;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    width: 50%;
    height: 200px;
    opacity: 0.9;
}

.wyr-btn-group-a button:hover {
    opacity: 1.0;
}

.wyr-btn-group-b button {
    background-color: #3FA7D6;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    width: 50%;
    height: 200px;
    opacity: 0.9;
}

.wyr-btn-group-b button:hover {
    opacity: 1.0;
}

.wyr-btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.wyr-btn-group button:not(:last-child) {
    border-right: none;
}

.wyr-btn-group button:hover {
    background-color: #3e8e41;
}
